{
	frankenphp {
        worker {
            file ./public/index.php
            watch
        }

        php_ini memory_limit 512M
	}
}

localhost {
	encode zstd br gzip

    root public/

	php_server {
        try_files {path} index.php
    }
}
